

.vetMapContainer {
    height: 50%;
}

.searchContainer {

    input.vetSearchInput {
        border: 2px solid black;
        border-radius: 10px;
        padding: 0 10px;
    }

    input.vetSearchInput:focus {
        border: black;
    }

    .vetSearchBtn {
        height: 30px;
        width: 80px;
        border-radius: 10px;
        background-color: #d84315;
        color: white;
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
        position: absolute;
        right: 10%;
        top: 56%;
    }
}

.vetListContainer {


    .card {
        height: 170px;
        border-radius: 10px;

        .card-image {
            width: 35%;

            .responsive {
                border-radius: 10px;
                width: 100%;
            }

        }

        .card-stacked {
            width: 65%;

            .card-content {
                padding: 10px;

                .vetContent {
                    height: 70%;
                    overflow-y: scroll;
                }
            }
        }

    }
}







