$color-bars: #e79307;

.brand-logo {
    //font-family: 'Kanit', sans-serif;
    font-family: 'Sniglet', cursive;
    font-weight: bold;
}

nav, .sidenav {
    background-color: $color-bars;

    .sidenav-close {
        color: white;
    }
}