.filter-panel {
  padding: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;

  .button-panel {
    text-align: center;
  }

}

form{
  .modal-footer{
    margin-right:60px;

  }
}