.noData {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 0.95rem;
}

.caseListContainer {
  position: relative;
  margin-top: 25px;

  @media (min-width: 635px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .cardContainer {

    @media (min-width: 635px) {

      width: 49.5%;
      position: relative;
    }

    @media (min-width: 1024px) {
      width: 49.5%;
    }

    .card {
      height: 130px;
      max-width: 95%;
      position: relative;
      left: 2.5%;
      border-radius: 10px;
      border: 1px solid darkgrey;
      margin: 0.5rem 0 0.1rem 0;

      @media (min-width: 635px) {
        width: 100%;
        max-width: 100%;
        height: 165px;
        position: relative;
        left: 0;
      }

      @media (min-width: 1024px) {
        height: 190px;
      }

      .card-image {
        width: 50%;

        img.responsive {
          height: 80%;
          width: 80%;
          position: relative;
          top: 10%;
          left: 10%;
        }

      }

      .card-stacked {
        .card-content {
          color: black;
          padding: 15px;
          //overflow-y: scroll;

          @media (min-width: 635px) {
            padding: 10px;
          }
          .contentDiv {

            .mobile {
              display: none;
            }

            @media (min-width: 635px) {
              height: 80%;
              overflow-y: auto;
            }
          }

          .contentDiv::-webkit-scrollbar-track {
            background-color: white;
          }

          .contentDiv::-webkit-scrollbar {
            width: 2px;
            background-color: white;
          }

          .contentDiv::-webkit-scrollbar-thumb {
            background-color: white;
          }


        }
        .card-action {
          padding: 5px;
          padding-left: 25px;
          color: #EB5E30;
          font-weight: bold;
        }
      }

    }



  }
}