.caseListContainer {
  position:relative;
  top: 2vh;

  .card {
    max-height: 130px;
    max-width: 90%;
    position: relative;
    left: 5%;

    img {
      max-width: 50px;
    }

    .card-action {
      padding: 5px;
      padding-left: 25px;
    }
  }
}