div(classname='container case-details')
  main
    h5(classname='header ') Hello #{name}
    p Thanks for using paws, please find your case key in details below:
    table(classname='centered striped')
      thead
        tr
          th Case key: #{caseKey}
        tr
          th Case type: #{caseType}
        tr
          th City:#{city}