
.upload-confirmation {
    text-align: center;
}

.upload-form {

    .btn-panel {
        margin-top: 20px;
        .btn {
            font-family: 'Concert One', cursive;
        }
    }

    .prompt {
        text-align: center;
        color:  #752a07;
        font-size: 1.4em;
    }

    .preloader-wrapper.active {
        position: absolute;
        top :0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
    }
    
    .placeholder-preview {
        text-align: center;
        border-radius: 5px;
        border: 2px dashed black;
    }
}