$color-bars: #e79307;
$color-action-buttons: #EB5E30;

.page-body {
    display: flex;
    min-height: calc(100vh - 56px);
    flex-direction: column;

    @media (min-width: 600px) {
        min-height: calc(100vh - 64px);
    }
    
    main {
        flex: 1 0 auto;
        overflow: hidden;

        h5 {
            margin: 1.4em 0;
        }
    }

    .page-footer {
        background-color: $color-bars;
        padding: 10px;

        .btn-panel {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: center;

            .btn-action {
                margin-left: 10px;
                background-color: $color-action-buttons;
            }
        }
    }
}

.upload-confirmation {
    text-align: center;
}
