
.w3-container{
  text-align: center;

  .btn{
    margin-left: 100%;
    margin-bottom: 20px;
  }
.header {
    text-align: center;
    color: green;
    font-style: italic;
  }
  .w3-container w3-half{
    font-weight: bold;
    font-size: 50px;

  }
}


