
.my-case {
  text-align: center;

  .striped {
    th {
      padding: 0px 0px;
    }
  }
footer{
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: 0;

}

  .header {
    text-align: center;
  }


}


