textarea.materialize-textarea{
  height:12rem;
  background-color: white;
  border: 1px solid silver;
}


  //.contact-page{
  //  main{
  //    form{
  //      .circle{
  //        border-radius: 50%;
  //        height: 50px;
  //        width: 50px;
  //        margin-right: auto;
  //        margin-left: auto;
  //      }
  //    }
  //  }
  //}
