.form {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  .text-area {
    margin: 20px 20px;
    background-color: white;
    height: 200px;
    width: 50%;


  }
  .textEmail {
    margin: 20px 20px;

    .text {
      margin-right: 50px;
    }
  }

  .callBack {
    margin: 20px 20px;

    .call {
      margin-right: 50px;
    }
  }



}
