.form{
  height: 100%;
  width: 100%;
  margin: 0 auto;


  .text-area{
    height :200px;
    width: 50%;


  }

  .textEmail{
    margin: 0 auto;
  }

  .waves-button-input{
    margin: 30px;
  }

}
