.landing {
    transition: ease all .75s;

    height: 100%;
    width: 100%;
    text-align: center;
    color: #752a07;

    .landing-title {
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        margin-bottom: 5px;

        @media (min-width: 635px) {
            position: absolute;
            top: 25%;
            left: 55%;
        }
    }

    .landing-text {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        z-index: 1;

        @media (min-width: 635px) {
            position: absolute;
            top: 30%;
            left: 55%;
            max-width: 30vw;
            text-align: left;
        }
    }

    @media (min-width: 1236px) {
        p.landing-text::after {
            content: ' We help reunite pet owners with their loved ones.'
        }
    }

    img {
        position: absolute;
        top: 29%;
        left: 3%;
        width: 75%;
        opacity: .8;
        z-index: 0;

        @media (min-width: 500px) {
            max-width: 520px;
            top: 50%;
            left: 45%;
            transform: translate(-80%, -45%);           
        }
    }

    .btn-container {
        position: absolute;
        top: 60%;
        left: 55%;

        .btn {
            background-color: #EB5E30;
            margin: 10px 5px;
            width: 87%;
        }

        @media (min-width: 635px) {
            top: 55%;
            left: 65%;
        }

        @media (min-width: 1236px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 10px;

            top: 40%;
            left: 55%;
            min-width: 25vw;
            max-width: 30vw;
        }
    }

    #modalBegin {
        height: 40vh;
        .modal-footer {
            height: 50%;
            display: flex;
            flex-direction: column;

            .btn {
                background-color: #26a69a;
            }
        }
    }
}