.myCaseContainer {
  height: 80%;

  .flyerDiv {
    //overflow-y: scroll;
    padding-bottom: 20px;
  }

  .myCaseCloseBtnContainer {
    text-align: center;
    margin-bottom: 20px;

    .myCaseCloseBtn {
      background-color: #d84315;
      font-family: 'Sniglet', cursive;
      border-radius: 10px;
      font-weight: bold;
    }
  }


}






/*
.my-case {
    height: 100%;

    main {
      height: 100%;

      .leftMyCase {
        .mycaseHeading {
          color: black;
        }
      }

      .leftMyCase,
      .rightMyCase {
        @media (min-width: 1024px) {
          display: inline-block;
          width: 45%;
          vertical-align: top;
          background-color: #fff8e1;
          margin: 15px;
          height: 80%;
          position: relative;
          top: 46%;
          transform: translateY(-50%);
          border-radius: 20px;

          .striped {
            thead {
              @media (min-width: 1024px){
                font-size: 140%;
              }
            }
          }

        }
      }

      .case-details {
        text-align: center;


        .striped {
          th {
            padding: 0;


          }
        }

        footer{
          margin: 0;
          padding: 0;
          overflow: hidden;
          width: 100%;
          position: fixed;
          bottom: 0;


          .btn {
            margin-left: 100%;
            margin-bottom: 20px;
            margin: 10px;
            font-size: 2rem;
          }
        }

        .header {
          text-align: center;
          color: black;
          // font-style: italic;
        }


      }

      .my-case .header {
        color: black;
      }

    }
  }

 */


