
.w3-container {
  height: 100vh;

  .mapContainer {
    height: 55%;

  }

  .listContainer {
    height: 42%;
    background-color: beige;

    .card.horizontal {

      .card-image {
        width: 100px;
        height: 100px;

        .image {
          width: 100px;
          height: 100px;

        }

        .card-content {
          height: 100px;
          justify-content: center;

        }
      }
    }

    img {
      height: 50vh;
      width: 100vw;
    }
  }


}

