.sizeSelectionContainer {
  .small {
    height: 90px;
  }

  .medium {
    height: 140px;
  }

  .large {
    height: 190px;
  }

  [type=radio] + img {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 7px 12px;
    margin: 2px 15px;
  }

  [type=radio]:hover + img {
    transform: translateY(10px);
  }

  [type=radio]:checked + img {
    box-shadow: 7px 12px #CD853F;
  }

  .btn {
    margin: 10px;
  }
}