
.bottomContainer {
  overflow-y: scroll;
}
.searchListTitle {
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 15px;
}

.formDiv {
  height: 85%;
  margin-bottom: 10px;

  .listForm {
    width: 88%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 0 15px 15px 15px;
    border-radius: 10px;
    background-color: white;

    h5 {
      font-weight: bold;
    }

    .radioFound {
      display: inline-block;
      width: 35%;
      input {
        position: relative;
        left: 10px;
      }
    }
    .radioLost {
      display: inline-block;
      width: 35%;
      input {
        position: relative;
        left: 10px;
      }
    }

    .locationDiv {
      input {
        border: 1px solid grey;
        border-radius: 10px;
        background-color: white;
        padding: 0 5px;
        width: 96%;
      }
    }

    .selectOpt {
      border: 1px solid grey;
      border-radius: 10px;
    }

    label {
      font-size: 120%;
      color: black;
    }

    .radioBtn {
      opacity: 1;
    }

    .selectOpt {
      display: block;
    }

    .searchBtn {
      width: 95%;
      margin-top: 15px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      background-color: #d84315;
    }

  }


}